# Loading Datasets

I have loaded all the datasets to MySQL that I download from Kaggle using pandas library

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
conn_string = 'mysql://root:iammicro1.618@localhost/paintings'
db = create_engine(conn_string)
conn = db.connect()

In [7]:
df1 = pd.read_csv('/home/shashwat/Disc3_Official/DataAnalysis/dataSets/Painting/artist.csv')
print(df1.info) # checking if it works

<bound method DataFrame.info of      artist_id                    full_name  first_name      middle_names  \
0          500        Pierre-Auguste Renoir      Pierre           Auguste
1          501            Alexandre Cabanel   Alexandre               NaN
2          502                  James Ensor       James               NaN
3          503              Maximilien Luce  Maximilien               NaN
4          504                 August Macke      August               NaN
..         ...                          ...         ...               ...
416        916  Jean-Baptiste-Camille Corot        Jean  Baptiste Camille
417        917                   Jan Toorop         Jan               NaN
418        918              Rembrandt Peale   Rembrandt               NaN
419        919       Edmund Charles Tarbell      Edmund           Charles
420        920           Rembrandt Van Rijn   Rembrandt               NaN

    last_name nationality          style  birth  death
0      Renoir      French  Impressionist   1841   1919
1     Cabanel      French     Classicist   1823   1889
2       Ensor     Belgian  Expressionist   1860   1949
3        Luce      French    Pointillist   1858   1941
4       Macke      German  Expressionist   1887   1914
..        ...         ...            ...    ...    ...
416     Corot      French       Romantic   1796   1875
417    Toorop       Dutch      Symbolist   1858   1928
418     Peale    American   Neoclassical   1778   1860
419   Tarbell    American  Impressionist   1862   1938
420  Van Rijn       Dutch        Baroque   1606   1669

[421 rows x 9 columns]>

In [8]:
df1.to_sql('artist', con=conn, if_exists='replace', index=False)

421

In [10]:
df2 = pd.read_csv('/home/shashwat/Disc3_Official/DataAnalysis/dataSets/Painting/canvas_size.csv')
df2.to_sql('canvasSize', con=conn, if_exists='replace', index=False)

200

In [11]:
df3 = pd.read_csv('/home/shashwat/Disc3_Official/DataAnalysis/dataSets/Painting/image_link.csv')
df3.to_sql('imageLink', con=conn, if_exists='replace', index=False)

14775

In [12]:
df4 = pd.read_csv('/home/shashwat/Disc3_Official/DataAnalysis/dataSets/Painting/museum_hours.csv')
df4.to_sql('museumHours', con=conn, if_exists='replace', index=False)

351

In [13]:
df5 = pd.read_csv('/home/shashwat/Disc3_Official/DataAnalysis/dataSets/Painting/museum.csv')
df5.to_sql('museum', con=conn, if_exists='replace', index=False)

57

In [14]:
df6 = pd.read_csv('/home/shashwat/Disc3_Official/DataAnalysis/dataSets/Painting/product_size.csv')
df6.to_sql('productSize', con=conn, if_exists='replace', index=False)

110347

In [15]:
df7 = pd.read_csv('/home/shashwat/Disc3_Official/DataAnalysis/dataSets/Painting/subject.csv')
df7.to_sql('subject', con=conn, if_exists='replace', index=False)

6771

In [16]:
df8 = pd.read_csv('/home/shashwat/Disc3_Official/DataAnalysis/dataSets/Painting/work.csv')
df8.to_sql('work', con=conn, if_exists='replace', index=False)

14776